<!-- Todo -->
<form [formGroup]="photoForm" (ngSubmit)="addMovie()" class="add-movie-form">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <input
        matInput
        placeholder="Landscape "
        formControlName="type"
      />
  
      @if(name?.touched && name?.hasError('required') ){
      <mat-error>Name is <strong>required</strong></mat-error>
      } @if(name?.touched && name?.hasError('minlength') ){
      <mat-error>Please provide full movie name 😁</mat-error>
      }
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>ImageUrl</mat-label>
      <input matInput placeholder="http://" formControlName="url" />
    </mat-form-field>
  
    <!-- <mat-form-field>
      <mat-label>Rating</mat-label>
      <input type="number" matInput placeholder="8" formControlName="rating" />
  
      @if(rating?.touched && rating?.hasError('required') ){
      <mat-error>Rating is <strong>required</strong></mat-error>
      } @if(rating?.touched && rating?.hasError('min') ){
      <mat-error>Rating is <strong>too low 🥲</strong></mat-error>
      } @if(rating?.touched && rating?.hasError('max') ){
      <mat-error>Rating is too high 😓</mat-error>
      }
    </mat-form-field> -->
  
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input
        matInput
        placeholder="Your awesome Description 🎊"
        formControlName="description"
      />
    </mat-form-field>
  
    <!-- <mat-form-field>
      <mat-label>Trailer</mat-label>
      <input matInput placeholder="http://" formControlName="trailer" />
    </mat-form-field>
   -->

    <button mat-raised-button type="submit">Add Movie</button>
  </form>
  